apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $.Chart.Name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ $.Chart.Name }}
    chart: {{ $.Chart.Name }}
    version: {{ $.Chart.Version }}
    release: {{ .Release.Name }}
